<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="wc-prueba">
  <template>
    <style>
      :host {
        display: block;
      }
      h2{
        font-size:30px;
        color:red;
        font-weight:bold;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h2>Mi edad es  [[prop2]] =)</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class WcPrueba extends Polymer.Element {
      static get is() { return 'wc-prueba'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Rosa Jurupe'
          },
          prop2:{
            type:Number,
            value:30
          }
        };
      }
    }

    window.customElements.define(WcPrueba.is, WcPrueba);
  </script>
</dom-module>
