<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }


    </style>
<h2> Mi ID es [[userid]]</h2>
<h2> Mi nombre es [[name]]</h2>

<table>
  <caption>Mis Usuarios</caption>
  <%=for (i=0; i<5;i++) {%>
  <tr>
    <td>John Lennon</td>
    <td>Rhythm Guitar</td>
  </tr>
  <%=}%>
</table>


    <iron-ajax auto
    id="ObtenerUsuario"
      url="http://localhost:3000/techu-peru/v3/usersmlab/{{userid}}"
      handle-as="json"
      on-response="showResponse"></iron-ajax>


      <iron-ajax auto
      id="ListarUsuarios"
        url="http://localhost:3000/techu-peru/v3/usersmlab"
        handle-as="json"
        on-response="showResponse1"></iron-ajax>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          userid:{
            type: Number
          }
        };
      }

      showResponse(data){
        console.log(JSON.stringify( data.detail.response));
        this.userid=data.detail.response[0].idUser;
        this.name=data.detail.response[0].first_name;
      }

      showResponse1(data){
        console.log(JSON.stringify( data.detail.response));
      

      }


    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
