<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="wc-principal">
  <template>
    <style>
      :host {
        display: block;
      }
      h2{
        font-size:30px;
        color:red;
        font-weight:bold;
      }

    </style>

      <!-- Ejemplo de two-way binding -->
      <input type="text" value="{{nombre::input}}"/>
      <p>Hola soy [[nombre]] y mi edad es [[edad]].</p>
      <input type="range" min="18" max="100" value="{{edad::input}}"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class WcPrincipal extends Polymer.Element {
      static get is() { return 'wc-principal'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Rosa Jurupe'
          },
          prop2:{
            type:Number,
            value:30
          }
        };
      }
    }

    window.customElements.define(WcPrincipal.is, WcPrincipal);
  </script>
</dom-module>
