<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="otro-webcomponent">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>YO SOY EL OTRO</h1>
    <!--<h2>Mi edad es  [[edad]] =)</h2>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OtroWebcomponent extends Polymer.Element {
      static get is() { return 'otro-webcomponent'; }
      static get properties() {
        return {
          mensaje: {
            type: String,
            value:''
          },
          edad:{
            type:Number,
            value:40
          }
        };
      }
    }

    window.customElements.define(OtroWebcomponent.is, OtroWebcomponent);
  </script>
</dom-module>
