<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>

<h2> Mis Cuentas</h2>
<table>
  <thead>
  <tr>
    <th>Numero de Cuenta</th>
    <th>Saldo</th>
  </tr>
</thead>
<tbody>
  <template is="dom-repeat" items="{{accounts}}">
    <tr>
    <td>{{item.nrocta}}</td>
    <td>{{item.saldo}}</td>
  </tr>
  </template>
</tbody>
</table>

    <iron-ajax
    id="getAccounts"
      url="http://localhost:3000/techu-peru/v3/usersmlab/{{userid}}/account"
      handle-as="json"
      on-response="showResponse"></iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {

          userid:{
            type: Number,
            observer: '_idChanged'
          },
          nrocta:{
            type:String
          },
          saldo:{
            type:Number
          },
          accounts:{
            type:Array
          }
        };
      }

      _idChanged(){
        this.$.getAccounts.generateRequest();
      }

      showResponse(data){
        console.log(JSON.stringify( data.detail.response));
      //  console.log(data.detail.response[0].nrocta);
        this.accounts=data.detail.response;
      }

    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
